.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 20px;
  width: 270px;
  margin-bottom: 1rem;
}

.label {
  display: flex;
  flex-direction: column;
}

.input {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #000000;
  background-color: #ffffff;
  color: #000000;
  border-radius: 5px;
}

.error {
  color: red;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
  margin-right: 50px;
  padding: 5px;
  border: 1px solid #828282;
  border-radius: 5px;
  background-color: #c6c6c6;
  color: #000000;
  cursor: pointer;
}
